.clear-holder {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
}

.clear-holder input[type="text"],
.clear-holder input[type="password"],
.clear-holder input[type="search"] {
  padding-right: 24px;
}

.clear-helper {
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  font-family: "Arial Black", Arial, sans-serif;
  font-weight: normal;
  vertical-align: middle;
  height: 21px;
  margin-left: -27px;
  width: 24px;
  text-align: center;
  color: #d2d2cd;
}

.hidden {
  display: none;
}