.clear-holder {
  vertical-align: middle;
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  zoom: 1; 
}

.clear-holder input[type="text"],
.clear-holder input[type="password"],
.clear-holder input[type="search"] {
  padding-right: 24px;
}

.clear-helper {
  cursor: pointer;
  display: -moz-inline-stack;
  display: inline-block;
  font-weight: normal;
  vertical-align: middle;
  text-align: center;
  margin-left: -27px;
  width: 24px;
}

.hidden {
  display: none;
}