<div class="clear-holder">{{ widget }}<span class="clear-helper hidden"><i class="icon-remove-sign"></i></span></div>
<script type="text/javascript">$(document).ready(function() { $('.clear-holder input[name="{{ name }}"]').clearable(); });</script>
